* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  color: hsl(240, 6%, 50%);
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
  background-image: url(../images/bg-pattern-mobile.svg),
    linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-size: 100% auto;
}

main {
  background: white;
  padding: 2rem;
  margin: 2rem;
  margin-top: 110px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

/* IMAGE */
.shadow {
  margin-left: 30px;
  margin-top: -200px;
}

.image {
  margin-left: -22px;
  margin-top: -130px;
}

/* FAQ SECTION */
article {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  margin-top: 1rem;
}

article:last-child {
  margin-bottom: 1.5rem;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  margin: 18px 0;
  color: hsl(237, 12%, 33%);
}

hr {
  border: 1px solid hsl(240, 5%, 91%);
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 1rem;
}

.question {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.question:hover {
  cursor: pointer;
}

.question span:hover {
  color: hsl(14, 88%, 65%);
}

.toggle {
  align-self: flex-end;
  padding-bottom: 3px;
}

.response {
  display: block;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.question-active {
  font-weight: 700;
}

.toggle-active {
  transform: rotate(180deg);
  padding-top: 3px;
}
